.App {
  height: 100vh;
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.App.active-sidebar {
  margin-left: 323px;
}


main {
  flex: 1;
  position: relative;
}

.show-sidebar {
  position: absolute;
  padding: 19px 19px 19px 16px;
  background-color: var(--clr-purple);
  width: fit-content;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
  bottom: 5%;
}

.App.active-sidebar .show-sidebar {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .show-sidebar:hover {
    background-color: var(--clr-purple-hover);
  }
}

@media (max-width: 800px) {

  .App.active-sidebar {
    margin-left: 280px;
  }

  header .right {
    padding: 0 24px;
  }

  header .logo {
    padding: 0 24px;
  }
}

@media (max-width: 615px) {
  .App {
    transition: 0s;
  }

  .show-sidebar {
    display: none;
  }

  .App.active-sidebar {
    margin-left: 0;
  }
}