* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
}


/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --clr-purple: #635FC7;
  --clr-purple-hover: #A8A4FF;
  --clr-red: #EA5555;
  --clr-red-hover: #FF9898;
  --clr-dark-grey: #2B2C37;
  --clr-medium-grey: #828FA3;
}

#dark {
  --bg-clr: #20212C;
  --bg-element: #2B2C37;
  --clr-line: #3E3F4E;
  --clr-text: #FFFFFF;
}

#light {
  --bg-clr: #F4F7FD;
  --bg-element: #FFFFFF;
  --clr-line: #E4EBFA;
  --clr-text: #000112;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
  /* color: var(--clr-text); */
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
}

h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
}

h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
  color: var(--clr-medium-grey);
}

.body-large {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
}

.body-small {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.theme-toggle.react-toggle--checked .react-toggle-track,
.theme-togle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track,
.theme-toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track,
.theme-toggle .react-toggle-track {
  background-color: var(--clr-purple);
}

.theme-toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--clr-purple-hover);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 10;
}



@media(max-width: 800px) {
  h1 {
    font-size: 20px;
  }
}

@media(max-width: 615px) {
  h1 {
    font-size: 18px;
  }
}